<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员-操作人管理</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/main.css" />-->

    <head th:insert="~{import :: head}"></head>

    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/proposal.css">

</head>
<body>
<div id="wrapper">
    <div th:insert="~{admin/navigation :: nav2}"></div>

    <main class="app-content main" style="margin: 40px; padding: 40px">


        <div class="app-title main">
            <div>
                <h1><i class="fa fa-th-list"></i> 操作人管理</h1>
                <p>增加或者修改操作人管理</p>
            </div>
            <!-- 按钮 -->
            <div class="row">
                <div class="col-md-1 col-md-offset-11">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newDeptModal">新增</button>
                </div>
            </div>
        </div>
        <div class="row main">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-font" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>操作人ID</th>
                                    <th>姓名</th>
                                    <th>所属部门</th>
                                    <th>是否修改密码</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userEntity : ${entityPage.getRecords()}">
                                    <td>[[${userEntity.getUserId()}]]</td>
                                    <td>[[${userEntity.getUserName()}]]</td>
                                    <td th:text="${userEntity.getDeptId()} + ${mapOfDept.get(userEntity.getDeptId())}">[[${userEntity.getDeptId()}]]</td>
                                    <td>[[${userEntity.getPswChanged()}]]</td>
                                    <td>[[${userEntity.getMobil()}]]</td>
                                    <td>[[${userEntity.getMail()}]]</td>

                                    <td>
                                        <a th:href=" '/admin/department-edit/' + ${userEntity.getUserId()}"
                                           class="btn btn-primary btn-sm glyphicon glyphicon-pencil"
                                           th:edit-id="${userEntity.getUserId()}"></a>
                                        <a th:href=" '/admin/department-del/' + ${userEntity.getUserId()}"
                                           id="adminDelete" onclick='return del();'
                                           class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:insert="navigation :: page-bar"></div>

        </div>
    </main>

    <!-- 员工修改的模态框 -->

    <div class="modal fade" id="newDeptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <form action="/admin/department-new" method="post">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">修改部门</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" style="font-size: 15px">部门名称</label>
                            <input type="text" class="form-control" name="deptName">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" id="emp_update_btn">新增</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript">
    function del() {
        if (confirm("确定要删除吗？")) {
            return true;
        } else {
            return false;
        }
    }
</script>

</body>
</html>
