<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<body>

<div th:fragment="nav2">
    <nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">徐海学院提案平台</span>

            </button>
            <a class="navbar-brand" href="/">徐海学院提案平台</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li th:class="${adminPage == 'index'}? 'active' : ' '"><a href="/admin/index"><i class="fa fa-bullseye"></i> 数据统计</a></li>
                <li th:class="${adminPage == 'topic'}? 'active' : ' '"><a href="/admin/topic"><i class="fa fa-tasks"></i> 提案列表</a></li>
                <li th:class="${adminPage == 'OKtopic'}? 'active' : ' '"><a href="/admin/OKtopic"><i class="fa fa-globe"></i> 已完成提案</a></li>
                <li th:class="${adminPage == 'Xtopic'}? 'active' : ' '"><a href="/admin/Xtopic"><i class="fa fa-list-ol"></i> 未完成提案</a></li>
                <li th:class="${adminPage == 'user'}? 'active' : ' '"><a href="/admin/user"><i class="fa fa-font"></i> 用户管理</a></li>
                <li th:class="${adminPage == 'editor'}? 'active' : ' '"><a href="/admin/editor"><i class="fa fa-list-ul"></i> 操作人管理</a></li>
                <li th:class="${adminPage == 'department'}? 'active' : ' '"><a href="/admin/department"><i class="fa fa-table"></i> 部门管理</a></li>
            </ul>

        </div>
    </nav>

</div>

</body>

</html>
