<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员-用户管理</title>
    <!--    <link rel="stylesheet" type="text/css" href="/css/main.css" />-->

    <head th:insert="~{import :: head}"></head>

    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/proposal.css">

</head>
<body>
<div id="wrapper">
    <div th:insert="~{admin/navigation :: nav2}"></div>

    <main class="app-content main" style="margin: 40px; padding: 40px">


        <div class="app-title main">
            <div>
                <h1><i class="fa fa-snowflake-o"></i> 已冻结用户</h1>
                <p>恢复或删除冻结用户</p>
            </div>

        </div>
        <br>
        <!-- 按钮 -->
        <div class="row">
            <div class="col-md-12">
                <label class="control-label col-md-2 col-md-offset-1" style="font-size: 18px">请选择用户类型</label>
                <select name="select-role" id="select-role" title="请选择" class=" col-md-6 form-select">
                    <option th:selected="${srole == 0}" value="0">全部</option>
                    <option th:selected="${srole ==1}" value="1">学生</option>
                    <option th:selected="${srole == 2}" value="2">教师</option>
                    <option th:selected="${srole == 3} " value="3">回复人</option>

                </select>

            </div>
        </div>
        <div class="row main">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-font" id="sampleTable">
                                <thead>
                                <tr>
                                    <th>用户ID</th>
                                    <th>姓名</th>
                                    <th>所属部门</th>
                                    <th>角色</th>
                                    <th>手机号</th>
                                    <th>邮箱</th>
                                    <th>恢复/删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="userEntity : ${entityPage.getRecords()}">
                                    <td>[[${userEntity.getUserId()}]]</td>
                                    <td>[[${userEntity.getUserName()}]]</td>
                                    <td th:text="${userEntity.getDeptId()} + ${mapOfDept.get(userEntity.getDeptId())}">
                                        [[${userEntity.getDeptId()}]]
                                    </td>
                                    <td>[[${mapOfRole.get(userEntity.getRole())}]]</td>
                                    <td>[[${userEntity.getMobil()}]]</td>
                                    <td>[[${userEntity.getMail()}]]</td>

                                    <td>
                                        <a th:userId="${userEntity.getUserId()}"
                                           id="adminDelete" name="adminDelete"
                                           class="btn btn-success btn-sm glyphicon glyphicon-share-alt"></a>

                                        <a th:userId="${userEntity.getUserId()}"
                                           id="adminDelete" name="adminDelete"
                                           class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--页码-->

            <div th:fragment="page-bar" th:with="var1 = (${param.role}==null ? 0 : ${param.role})">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${entityPage.current - 2} > 0">
                            <a th:href="@{${#request.getRequestURI()} + '?page=1' + '&role=' +  ${var1} }"
                               aria-label="Previous">

                                <!--                <a th:href="@{/(page=1)}" aria-label="Previous">-->
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>

                        <li th:if="${entityPage.hasPrevious()}">
                            <a th:href="@{${#request.getRequestURI()} + '?page=' + ${entityPage.current - 1} + '&role=' +  ${var1}}"
                               aria-label="Previous">
                                <!--                <a th:href="@{/(page=${entityPage.current - 1})}"-->

                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>


                        <li th:each="i:${#numbers.sequence(-3, 3)}"
                            th:class="(${entityPage.current + i} == ${entityPage.current}) ? 'active' : ''">
                            <!--                <a th:href="@{/(page=${entityPage.current + i})}"-->
                            <a th:href="@{${#httpServletRequest.getRequestURI()} + '?page=' + ${entityPage.current + i} + '&role=' +  ${var1}}"
                               th:if="(${entityPage.current + i} > 0) and (${entityPage.current + i} <= ${entityPage.getPages()})"
                               th:text="${entityPage.current + i}"></a>
                        </li>


                        <li th:if="${entityPage.hasNext()}">
                            <a th:href="@{${#request.getRequestURI()} + '?page=' + ${entityPage.current + 1} + '&role=' +  ${var1}}"
                               aria-label="Previous">
                                <!--                <a th:href="@{/(page=${entityPage.current +1 })}" aria-label="Previous">-->
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                        <li th:if="${entityPage.current + 2} < ${entityPage.getPages()}">
                            <a th:href="@{${#request.getRequestURI()} + '?page=' + ${entityPage.getPages()} + '&role=' +  ${var1}}"
                               aria-label="Previous">

                                <!--                <a th:href="@{/(page=${entityPage.getPages()})}" aria-label="Previous">-->
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </main>


</div>


</body>
</html>
<script type="text/javascript">
    $("#select-role").change(function () {
        $(location).attr("href", "/admin/user-lockde?role=" + $("#select-role").val());
        // alert($("#select-role").val());
    });
    //修改按钮
    $(document).on("click", ".glyphicon-share-alt", function () {
        var userId = $(this).attr("userId");
        if (confirm("确认恢复【" + userId + "】吗？")) {
            $.ajax({
                url: "/admin/user-lockde/reback/" + userId,
                type: "put",
                success: function (result) {
                    alert(result);
                    //回到本页
                    window.location.reload()
                }
            });
        }
    });
    //删除按钮
    $(document).on("click", ".btn-danger", function () {
        var userId = $(this).attr("userId");
        //alert($(this).parents("tr").find("td:eq(1)").text());
        if (confirm("确认删除【" + userId + "】吗？")) {
            //确认，发送ajax请求删除即可
            $.ajax({
                url: "/admin/user-lockde/del/" + userId,
                type: "DELETE",
                success: function (result) {
                    alert(result);
                    //回到本页
                    window.location.reload()
                }
            });
        }
    });
</script>