<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>登录 - 徐海学院提议平台</title>
    <link rel="stylesheet" href="/css/signin.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">


</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login}" method="post">


    <img class="mb-4" src="img/xhxy.jpg" alt="" width="223" height="274">
    <h1 class="h3 mb-3 font-weight-normal">请登录提案平台</h1>

    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

    <label class="sr-only">学号或工号</label>
    <input type="text" name="userId" class="form-control" placeholder="输入学号或工号" th:value="${userId}" required=""
           autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="输入密码" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住密码
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>

</body>

</html>